body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}  
*{
    margin:0;
    padding:0;
}
header, footer{
    position: absolute;
    background-color:black ;
    width: 100%;

    color: white;
}
header h2 {
    position:absolute;
    margin-top: 20px;

    
}
header{
    height: 10vh;
}
footer{
    height: 15vh;
    bottom: 0;
}
footer h2{
    position: absolute;
    left: 40%;
} 
.nav{
    position: absolute;
    width: 100%;

}

.nav a{

    position:relative;
    left: 45%;
    top: 20px;
    color: white;
    text-decoration:none ;
    margin-right: 20px;
}
footer p{
    position: absolute;
    left: 48%;
    bottom: 20px;
}
.feature{
    width: 32%;
    display: inline-block;
    font-size: 16px;
}
.feature img{
    width:40%;
}
